body {
  background: black;
}

.nav_text_size, #main0 .p_bottom {
  font-size: 20px;
}

.navbar.navbar-default .dropdown {
  margin-left: 80px;
}

.navbar.navbar-default .dropdown .nav_text_size, .navbar.navbar-default .dropdown #main0 .p_bottom, #main0 .navbar.navbar-default .dropdown .p_bottom {
  margin-left: 11px;
}

#name_sites {
  padding-left: 55px;
}

#main {
  background: black;
  height: 100vh;
  margin-top: 20px;
}

#main0 {
  height: 500px;
}

#main0 p {
  color: white;
}

#main0 .p_bottom {
  position: absolute;
  bottom: 384px;
  color: aqua;
}

#main0 {
  background-image: url(../img/bg6.jpg);
}

a:hover, .dropdown a i:hover {
  color: red;
}

.foot .example {
  color: yellow;
}

p {
  color: yellow;
}
