$type: ocean,trees,fish;
*{
	margin: 0;
	padding: 0;
}
body {
	background: url(../img/bg0.png);	

}

.nav_text_size {
	font-size: 20px;
}

.navbar.navbar-default .dropdown{
	margin-left: 80px;
}

.navbar.navbar-default .dropdown .nav_text_size{
	margin-left: 11px;
}

#name_sites {
	padding-left: 55px;
}

#main {
	z-index: -1;
	background:url(../img/bg0.png); 	
	margin-top: 20px;

}

#main0 {	
	height: 500px;
	p {
	color: white;
	}
	.p_bottom {
	position:absolute;
	bottom: 384px;
	color: aqua;	
	@extend .nav_text_size;	
	}

}
@each $bg_main0 in #main0 {
	#{$bg_main0} {
	background-image:url(../img/#{bg6}.jpg);
	}
}


.dropdown a i:hover{
	@extend a:hover;
}
a:hover {
	color: red;
}

.foot {
	@import "example";
}

$type: ocean;
p {	
	@if $type == trees {
	color: green;
	}
	@else if $type == ocean {
	color: yellow;
	}
	@else if $type == fish {
	color: aqua;
	}
	@else {
	color: pink;
	}

}

.col-md-2 img{	
	height: 260px;	
	weight: 120px;
}




.col-md-2 img:hover{
	borfer: solid 3px #fff;	
	background: #fff;
	z-index:-1;
	height: 250px;	
	weight: 100px;
}

.Up_page {
	position: absolute;
	right:0;
	margin:0 20px 20px 0;
	background: #333;
	border: none;
	z-index: 100;
}

.down_page {
	position: fixed;
	left:0;
	margin: 30px 20px 20px 0;
	background: #333;
	border: none;
	z-index: 1000;
}
.container.down{
	width:906px;
	margin:10px auto;	
	padding: 0;
	box-shadow:0 5px 30px fadeout(red,70%);
	-webkit-box-shadow:0 5px 30px fadeout(red,70%);
	-moz-box-shadow:0 5px 30px fadeout(red,70%);

}


.thumb {
	position: relative;
	background: url(../img/bg0.png);
	width: 300px;
	height: 200px;
	float: left;
	overflow: hidden;
	border: 1px solid #eee;
	.content {
	text-transform:uppercase;
	color: green;
	position: absolute;
	top:0;
	left:0;
	margin: 30px;
}

}


.wrapper {
	position: absolute;
	top:0;left:0;
	width:300px;
	height:200px;	
	img {
	width:300px;
	height:200px;
	}
	
}